/**index.wxss**/
.input {
  border: 2px solid #ccc;
  margin-right: 10px;
  height: 70px;
  border-radius: 4px;

}

.search {
  display: flex;
}

.search-button {
  font-size: 28px;
}
.result-list{
  width:100%;
  display:flex;
  flex-direction: column;
}
.list-item{
  font-size:28px;
  line-height:80px;
  margin:20px;
  height:80px;
  background:#000;
  color:#fff;
}